section{ 
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.zoro{
    width: 500px;
    height: 500px;
    background: black;
    border-radius: 20px;
    overflow: hidden; 
}

.zoro img{
    width: 500px;
    height: 350px;
}


.zoro p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: larger;
}

.sanji{
    width: 500px;
    height: 500px;
    background: black;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20px;
}

.sanji img{
    width: 500px;
    height: 350px;
}

.sanji p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: larger;
}

.usopp{
    width: 500px;
    height: 500px;
    background: black;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20px;
}

.usopp img{
    width: 500px;
    height: 350px;
}

.usopp p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: larger; 
}

.franky{
    width: 500px;
    height: 500px;
    background: black;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 20px;
}

.franky img{
    width: 500px;
    height: 350px;
}

.franky p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: larger;
}